:root {
  --max-width: 800px;

  --spacing-q: calc(var(--spacing-01) / 4);
  --spacing-h: calc(var(--spacing-01) / 2);
  --spacing-01: 8px;
  --spacing-02: calc(var(--spacing-01) * 2);
  --spacing-03: calc(var(--spacing-01) * 3);
  --spacing-04: calc(var(--spacing-01) * 4);
  --spacing-05: calc(var(--spacing-01) * 5);
  --spacing-06: calc(var(--spacing-01) * 6);
  --spacing-07: calc(var(--spacing-01) * 7);
  --spacing-08: calc(var(--spacing-01) * 8);
  --spacing-09: calc(var(--spacing-01) * 9);
  --spacing-10: calc(var(--spacing-01) * 10);

  --max-width-wraper: 100em;

  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.33rem;
  --size-600: 1.77rem;
  --size-700: 2.36rem;
  --size-800: 3.15rem;
  --size-900: 4.2rem;

  --bg: #363d52;
  --bg-alt: #202531;
  --fg: #fff;
  --fg-alt: #fff;
  --hl-01: #ec008c;
  --hl-02: #fdd000;

  --border-color: var(--bg-alt);
  --border-radius: 8px;
  --border: 2px solid var(--border-color);
}
